<div class="timeline">
  <mat-horizontal-stepper labelPosition="bottom">
    <mat-step label="Início"> </mat-step>
    <mat-step label="Documentos"> </mat-step>
    <mat-step label="dados cadastrais"> </mat-step>
    <mat-step label="admissão"> </mat-step>
  </mat-horizontal-stepper>
</div>

<div class="title">Informe o CPF do futuro cooperado(a)</div>
<div class="subtitle mb-4">
  se necessário, você poderá duplicar uma conta existente ou retormar esse
  cadastro futuramente.<br />
  Digite apenas os números sem pontos ou traços.
</div>

<div class="row mb-4">
  <form [formGroup]="formulario" class="d-flex" (ngSubmit)="onSubmit()">
    <div class="col-3 me-3">
      <label for="cpf">CPF</label>
      <input
        id="cpf"
        name="cpf"
        type="text"
        class="form-control"
        placeholder="000.000.000-00"
        formControlName="cpf"
        [attr.maxLength]="maxLength"
        mask="000.000.000-00"
        [value]="clearValue"
      />

      <p
        class="alert alert-danger"
        *ngIf="
          ((registerFormControl.cpf.touched || submitted) &&
            registerFormControl.cpf.hasError('required')) ||
          mgsLength
        "
      >
        Por favor informe um CPF válido para consulta
      </p>
    </div>

    <div class="col mt-4">
      <button type="submit" class="btns-primary">Consultar por CPF</button>
    </div>
  </form>
</div>

<!-- Cards-->
<div class="d-flex flex-wrap" *ngIf="showCard">
  <app-card-component
    [title]="'Situação cadastral do CPF'"
    [subTitle]="'Consulta na Receita Federal'"
    [iconUser]="'person'"
    [labelName]="'Nome'"
    [nameUser]="'Mariane de Souza Oliveira'"
    [iconSituation]="'check_circle_outline'"
    [titleSituation]="'Situação do CPF'"
    [statusSituation]="'Regular'"
  ></app-card-component>

  <app-card-component
    [title]="'Conta aplicação'"
    [subTitle]="'Cooperativa Viacredi'"
    [iconUser]="'person'"
    [labelName]="'Número da conta'"
    [nameUser]="'557932-4'"
    [showActions]="true"
    [textButton]="'Duplicar conta'"
    (btnClick)="testOnClick()"
  ></app-card-component>

  <app-card-component
    [title]="'Conta corrente'"
    [subTitle]="'Cooperativa Viacredi'"
    [iconUser]="'person'"
    [labelName]="'Número da conta'"
    [nameUser]="'778461-8'"
    [showActions]="true"
    [textButton]="'Duplicar conta'"
    (btnClick)="testOnClick()"
  ></app-card-component>
</div>
