<div class="containerBox">
  <div class="navigation">
    <div class="logo">
      <img src="../assets/imgs/logo-viacredi-2.svg" alt="Ailos" />
    </div>
    <div class="menu">
      <mat-icon>menu</mat-icon>
      <mat-icon>search</mat-icon>
      <mat-icon>star_border</mat-icon>
      <mat-icon>sms_border</mat-icon>
      <mat-icon>tune</mat-icon>
      <mat-icon>account_balance</mat-icon>
    </div>
  </div>

  <div class="containerBox_page">
    <app-top-bar></app-top-bar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

    <app-footer-bar></app-footer-bar>
  </div>
</div>
