<div class="topBar">
  <div class="topBar_text">
    <div class="title">nova admissão cooperado</div>
    <div class="topBar_nav">
      cadastro / admissão do cooperado / nova admissão de cooperado
    </div>
  </div>
  <div class="topBar_actions">
    <mat-icon
      class="topBarIcon"
      matBadge="7"
      matBadgeColor="warn"
      matBadgeSize="small"
      >notifications_none</mat-icon
    >
    <button class="btn_top">viacredi</button>
    <div class="avatar">
      <mat-icon>brightness_low</mat-icon>
      <img src="../assets/imgs/img_avatar.png" alt="Avatar" class="avatar" />
    </div>
  </div>
</div>
