/* CORES */
:root {
  --bg-btn-primary: #1c5c7c;
  --bg-color-blue: #1c5c7c;
  --bg-color-body: #e6eef1;
  --color-text-blue: #1c5c7c;
}



.color{
  &-primary{

  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: gray;
}
.containerBox{
  min-height: 100vh;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  &_page{
    background-color: var(--bg-color-body);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

/* BADGE Notification topBar*/
.mat-badge-small.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: -5px ;
}
.mat-badge-small.mat-badge-above .mat-badge-content {
  top: -5px;
}

.navigation{
  background-color: var(--bg-color-blue);
  width: 90px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 23px 0;

  .logo{
    width: 70%;
    height: 60px;
    margin-bottom: 47px;
    img{
      width: 100%;
    }
  }
  .menu {
    display: flex;
    flex-direction: column;
    mat-icon{
      color: #ffffff;
      margin-bottom: 30px;
    }
  }
}

.content{
  background-color: #e6eef1;
  width: 100%;
  flex-grow: 1;
  padding: 20px;
}
.title {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-text-blue);
}



/* BUTTONS */
.btns{
  &-primary{
    background-color: var(--bg-btn-primary);
    color: #ffffff;
    padding: 0.375rem 0.75rem;
    border: 0;
    font-size: 1rem;
  }
  &-secondary{
    border: 1px solid var(--bg-btn-primary);
    background-color: transparent;
    color: var(--color-text-blue);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
  }
  &-link{
    background: transparent;
    border: 0;
    color: var(--color-text-blue);
    font-weight: bold;
  }
}

/* INPUT */
.form-control{
  border-radius: 0;
}



/* TIME LINE */
.timeline {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mat-stepper-horizontal {
  background-color: transparent;
  width: 60%;
}
// .mat-horizontal-stepper-header {
//   pointer-events: none !important;
// }

.mat-step-icon-selected {
  background-color: transparent !important;
  color: transparent;
  border: 2px solid #1c5c7c;
}
.mat-step-header .mat-step-icon {
  background-color: rgba(0,0,0,.54);
  color: transparent;
}
// .mat-step-header .mat-step-label.mat-step-label-active {
//   color: gray;
//   text-transform: capitalize;
//   font-size: 0.9rem;
// }
// .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after{
//   top: 11px;
// }
// .mat-stepper-horizontal-line {
//   margin: 11px -39px !important;
// }
// .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before{
//   top: 11px;
// }



